.myBook_container{
    min-height: 95vh;
}
.myBook_title{
    margin-bottom: -12px;
    z-index: 5;
    color: rgb(0, 113, 133);
    font-size: 1.5 rem;
}
.myBook_print_btn{
    height: 60px;
}
div.check_btn_div{
    position: fixed;
    margin: -85px 0 0 7px
}
.check_svg_color{
    fill: #007185;
    stroke: #007185;
}
.check_link_style {
    font-size: 1.5rem;
}

@media (min-width: 768px){
    .md_mybook_container{
        max-width: 768px
    }
    
}