.welcome_content{
    position: relative;
    width: 50vh;
    padding: 20px;
    margin: 30px 3px 0 3px;
    background: #a29fab;
    text-shadow: 2px 2px 2px grey;
    color: white;
    border-radius: 20px;
}