.books_container{
  display: flex;
  height: fit-content;
}
.books_title{
  font-size: 3rem;
  color: white;
  padding: 20px;
  border-radius: 25px;
  background: #006e5dd8;
  text-shadow: 2px 2px 2px grey;
  box-shadow: 2px 2px 2px #7e7d7d4a;
}
.book_header {
  position: fixed;
  top: 1%;
  width: 100%;
}
.books_separator {
  margin-top: 120px;
}
.book_list {
  list-style-type: none;
  font-size: 1rem;
}
div.d-flex > ul.book_list > li.book_list_item {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px gray;
  width: 133px;
  height: 60px;
  padding: 0 10px 0 5px;
  margin: 4px 2px;
  background-color: rgba(245, 245, 245, 0.76);
}
.book_list_item:hover {
  transform: translateY(-1px);
  cursor: pointer;
}
.span_img {
  border-radius: 50px;
  box-shadow: 2px 2px 2px 1px gray;
  width: 40%;
  height: 49px;
  padding: 10px;
  margin: 0;
  background-size: cover;
}