.book_header {
  position: fixed;
  top: 1%;
  width: 100%;
  z-index: 6;
}
.books_title{
  font-size: 3rem;
  color: white;
  padding: 20px;
  border-radius: 25px;
  background: #006e5dd8;
  text-shadow: 2px 2px 2px grey;
  box-shadow: 2px 2px 2px #7e7d7d4a;
}
.books_separator {
  margin-top: 100px;
}
.book_list {
  list-style-type: none;
  font-size: 1rem;
}
div.d-flex > ul.book_list > li.book_list_item {
  border-radius: 5px;
      box-shadow: 0px 1px 7px -1px #989898;
  width: 150px;
  height: 60px;
  padding: 0 10px 0 5px;
  margin: 7px 2px;
  background-color: rgba(245, 245, 245, 0.76);
  z-index: 5;
}
.book_list_item:hover {
  transform: translateY(-1px);
  cursor: pointer;
}
.span_img {
  border-radius: 25px;
  box-shadow: 2px 2px 2px 1px gray;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 0;
  background-size: cover;
}

@media (min-width: 768px) {
  .md_books_container{
    max-width: 768px;
  }
  .book_list {
    list-style-type: none;
    font-size: 1.3rem;
  }
  div.d-flex > ul.book_list > li.book_list_item {
    border-radius: 5px;
    width: 200px;
    height: 90px;
    margin: 20px;
  }
  .book_header {
    top: 0;
    max-width: 768px;
  }
  .books_title{
    height: 200px;
    padding: 50px;
    border-radius: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .books_separator {
    margin-top: 234px;
  }
}