.logout_icon{
    z-index: 10;
    font-size: 2rem;
    color: #f8f9fa;
    fill: #f8f9fa;
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}
.profile_pic_div{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: cover ;
}
.profile_name{
    margin-top: -20px;
    color: #493300;
    font-size: 2rem;
}
.profile_header{
    background-color: #006e5d;
    z-index: 1;
}
.profile_div_1{
    background-color: transparent;
}
.profile_div_2{
    background-color: transparent;
    font-size: 2rem;
}
.profile_div_3{
    background-color: transparent;
}
.books_left_num{
    color: #f2fedc;
    margin: 20px;
    width: -webkit-fill-available;
    box-shadow: 2px 2px 15px grey;
    border-radius: 50px;
    font-size: 12rem;
}
.books_left_txt{
    color: #f2fedc;
    margin: 20px;
    width: -webkit-fill-available;
    box-shadow: 2px 2px 15px grey;
    border-radius: 50px;
    font-size: 2rem;
}
.div_2_text_1{
    margin: 10px 30px;
    color: #dbb440;
    text-shadow: 1px 1px 5px #000000;
}
.div_2_text_2{
    margin: 10px 30px;
    color: #f8f9fa;
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}
.div_2_text_3{
    color: #f8f9fa;
    text-shadow: 1px 1px 5px #00000024;
    font-size: xxx-large;
}
.div_2_text_4{
    color: #f8f9fa;
    text-shadow: 1px 1px 5px #00000024;
    font-size: xxx-large;
}
.div_3_text_1{
    font-size: 2rem;
    font-style: italic;
    color: #006e5d;
}
.div_3_text_signature{
    font-size: 1.4rem;
    font-style: italic;
    color: #493300;
}
svg {
    stroke: #ced4da;
    fill: #ced4da;
}