.logout_btn{
    z-index: 10;
    color: red;
    font-size: 2rem;
}
.profile_pic_div{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    background-size: cover ;
}
.profile_name{
    margin-top: -20px;
    color: black;
    font-size: 2rem;
}
.profile_header{
    background-color: #225691;
    z-index: 1;
}
.profile_div_1{
    background-color: transparent;
}
.profile_div_2{
    background-color: transparent;
    font-size: 2rem;
}
.profile_div_3{
    background-color: transparent;
}
.books_left_num{
    color: #ecd7c8;
    margin: 20px;
    width: -webkit-fill-available;
    box-shadow: 2px 2px 15px grey;
    border-radius: 50px;
    font-size: 12rem;
}
.div_2_text_1{
    margin: 10px 30px;
    color: whitesmoke;
    text-shadow: 1px 1px 5px black;
}
.div_2_text_2{
    margin: 10px 30px;
    color: whitesmoke;
    text-shadow: 1px 1px 5px black;
}
.div_3_text_1{
    font-size: 2rem;
    font-style: italic;
    color: #084298;
}
.div_3_text_signature{
    font-size: 1.4rem;
    font-style: italic;
    color: #000000;
}
svg {
    stroke: #ced4da;
    fill: #ced4da;
}