.prev_btn_style {
  position: absolute;
  top: 90%;
  right: 70%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  padding: 0;
  background-color: transparent;
  border: none;
}

.next_btn_style {
    position: absolute;
    top: 90%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  
  .btn_dissapear {
    display: none;
  }