.btn:hover {
  background-color: transparent;
  border-color: transparent;
}
a {
  text-decoration: none;
  color: #898194;
  z-index: 10;
}
a:hover {
  color: indigo;
}
.my_btn_div{
  width: -webkit-fill-available;
  position: fixed;
  bottom: 1.2%;
  z-index: 10;
  pointer-events: none
}
.nav_btn_style {
  background-color: transparent;
  border: none;
  font-size: 4rem;
  z-index: 10;
  pointer-events: auto;
}