.btn:hover {
  background-color: transparent;
  border-color: transparent;
}
a {
  text-decoration: none;
  color: #898194;
}
a:hover {
  color: indigo;
}
.prev_btn_container_style {
  position: fixed;
  height: 95%;
  left: 5%;
  padding: 0;
}
.nav_btn_style {
  background-color: transparent;
  border: none;
  font-size: 4rem;
}
.next_btn_container_style {
    position: fixed;
    height: 95%;
    right: 5%;
    padding: 0;
  }

.btn_dissapear {
  display: none;
}