div.modal-content{
    background-color: #493300ed;
    color: #f2fedc;
    font-weight: lighter;
}
.loginPage {
    height: 100vh;
}
button{
    border: none;
    background-color: transparent;
}