.App{
  display: grid;
}
.content {
  height: 350vh;
}

ol, ul {
  padding-left: 0;
}

.btn:hover {
  background-color: transparent;
}

.content_bgr {
  padding: 20px;
}

.text_content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  background: gray;
  color: white;
  border-radius: 20px;
  font-size: 50px;
}
.users_btn {
  position: absolute;
  top: 90%;
  left: 90%;
  padding: 5px 15px;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  font-size: 1rem;
}